div.mediacontrols {
	/* height: 40px; */
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: hsl(198deg 76% 90%);
	opacity: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	left: 0;
}

span.mediacontrol {
 width: 3ch;
 font-size: 2em;
 text-align: center;
 background-color: hsl(198deg 76% 90%);
 border: 1px solid hsl(198deg 76% 90%);
}

span.mediacontrol:hover {
 background-color: hsl(198deg 76% 80%);
 cursor: default;
}

span.nowplaying {
	font-family: sans-serif;
}

.rightjustify {
	justify-self: end;
}
