.time-input {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.time-input-label {
    display: flex;
    align-items: center;
    margin-right: 3px;
}

.time-input-timenum {
    font: 16px monospace;
    width: 3ch;
}

.time-input-timesep {
    font: 18px monospace;
    width: 1ch;
}

.time-input-button {
    margin-left: 3px;
}