[Unit]
Description=GNUPLex
After=network.target

[Service]
Restart=always
WorkingDirectory=__DIR__/gnuplex-code/backend
ExecStart=__DIR__/gnuplex

[Install]
WantedBy=default.target
