[Unit]
Description=GNUPLex
After=network.target

[Service]
Type=simple
WorkingDirectory=__DIR__/gnuplex-code/backend
ExecStart=__DIR__/gnuplex

[Install]
WantedBy=default.target