<html>
    <head>
        <title>GNUPlex</title>
        <style>
        * {
            font: 12px monospace;
        }
        a {
            color: black;
        }
        #medialist {
            display: flex;
            flex-direction: column; 
        }
        </style
    </head>
    <body>
        <div id="medialist">
            <% mediafiles.each do |mediafile| %>
                <a href="#">
                <%= mediafile %>
                </a>
            <% end %>
        </div>
    </body>
</html>