.popup {
  position: fixed;
  padding: 2%;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  border: 1.5px solid black;
  z-index: 1;
}

.popup > * {
  margin-top: 1%;
  margin-bottom: 1%;
}
