.moviegroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  white-space: pre-wrap;
}

.logo-panel {
  background-color: black;
}

.logo {
  background-color: black;
  color: white;
  font: 25px monospace;
}

.version {
  background-color: black;
  color: white;
  font: 15px monospace;
  font-style: italic;
  margin-left: 1%;
}
