.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: 16px sans-serif;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.leftpanel {
  flex: 1;
  margin-bottom: 2%;
}

.rightpanel {
  flex: 4;
}

a {
  color: black;
}

input[type=number] {
  width: 6ch;
}

input[type=button] {
  background-color: white;
  border: 1px solid black;
}

input[type=button]:hover {
  background-color: cyan;
}

.controlgroup {
  margin-top: 3%;
  margin-bottom: 3%;
}

.moviegroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  white-space: pre-wrap;
}

.subtitle {
  font: 16px sans-serif;
  font-weight: bold;
}

.moviegroup>a {
  margin-top: 1ch;
}

.logo {
  background-color: black;
  color: white;
  font: 25px monospace;
}

.mediafile {
  color: black;
  font: 16px monospace;
  word-wrap: break-word;
}

.mediafile:hover {
  background-color: lightgrey;
}

#vol-label {
  margin-right: 3px;
}

#vol-set {
  margin-left: 3px;
}

input[type=button].play-button {
  font: 20px monospace;
  border-right: 0;
}

input[type=button].pause-button {
  font: 20px monospace;
}