.App {
  display: flex;
  flex-direction: column;
  padding: 2%;
  font: 14px monospace;
}

.nowplaying {
  margin-top: 2%;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 1%;
}

.controls>* {
  margin-right: 7%;
}

input[type=button] {
  background-color: white;
  border: 1px solid black;
  font: 14px monospace;
}

input[type=button]:hover {
  background-color: lightgrey;
}

input.num-input {
  width: 5ch;
}

.logo {
  font: 20px monospace;
  color: white;
  background-color: black;
  width: 8ch;
  padding: 2px;
}

.mediafile {
  color: black;
}

.mediafile:hover {
  background-color: lightgrey;
}