on:
  pull_request:
  push:
    branches:
      - main
      - release
jobs:
  test:
    runs-on: ubuntu-latest
    name: testing and linting this branch
    steps:
      - name: check out this repo
        uses: actions/checkout@v6
      - name: setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: "^1.25.5"
          cache-dependency-path: backend/go.sum
      - name: compile the go backend
        run: |
          uv run make.py go_build_ci
      - name: check go formatting
        working-directory: backend
        run: |
          gofmt -s -d . | wc -l | xargs uv run python3 -c "import sys; sys.exit(1 if int(sys.argv[1])>0 else 0)"
      - name: lint frontend code
        run: |
          bun i
          bun run biome ci --verbose
      - name: lint python
        run: |
          uv run ruff format --check
          uv run ruff check
      - name: compile the frontend
        run: |
          uv run make.py frontend_build
      - name: check for TODO string instances
        run: |
          git ls-files | grep -v test-branch\.yml | xargs grep -Ii todo | wc -l | xargs uv run python3 -c "import sys; sys.exit(0 if int(sys.argv[1]) == 0 else 1)"
